<!DOCTYPE html>
<html>
<head>
	<title>Raspi Stats</title>
	<link rel="stylesheet" href="static/base.css">
	<link rel="stylesheet" href="static/skeleton.css">
	<link rel="stylesheet" href="static/layout.css">
</head>
<body>

<div class="container">
	<h1>Raspi Stats</h1>
	<hr>

	<ul>
		<li>Hostname: {{ .System.Hostname }}</li>
		<li>Current temperature: {{.System.Temp}}</li>
		<li>Time: {{.System.Time}}</li>
		<li>OS: {{.System.OS}}</li>
		<li>CPU:
		{{range $index, $element := .CPU.Processors}}
		{{ if eq $index 0}}
			{{ $element.ModelName }}
		{{end}}
		{{ end }}
		</li>
	</ul>

	<ul>

	</ul>
	<div class="four columns">
		<h5>CPU </h5>
		<table>
		<tr>
			<th>CPU #</th>
			<th>Clockspeed</th>
		</tr>
		{{range .CPU.Processors}}
		<tr>
			<td>{{ .Id }}</td>
			<td>{{ .MHz }}</td>
		</tr>
		{{end}}
		</table>
		<table>
			<tr>
			<th>CPU Load</th>
			<th></th>
			</tr>
			<tr>
				<td>One min: </td>
				<td>{{ .CPUload.OneMin }}</td>
			</tr>
			<tr>
				<td>Five min: </td>
				<td>{{ .CPUload.FiveMin }}</td>
			</tr>
			<tr>
				<td>Fifteen min: </td>
				<td>{{ .CPUload.FifteenMin }}</td>
			</tr>
		</table>
	</div>
	<div class="four columns">
		<h5>MEMORY</h5>
		<table>
			<tr>
				<th>Memory</th>
				<th></th>
			</tr>
			<tr>
				<td>Total Memory:</td>
				<td>{{ .Memory.Total }}</td>
			</tr>
			<tr>
				<td>Free Memory:</td>
				<td>{{ .Memory.Free }}</td>
			</tr>
			<tr>
				<td>Available Memory:</td>
				<td>{{ .Memory.Available }}</td>
			</tr>
			<tr>
				<td>Cached Memory:</td>
				<td>{{ .Memory.Cached }}</td>
			</tr>
		</table>
	</div>
	<div class="four columns">
		<h5>MOUNTS</h5>
		<table>
			<tr>
				<th>Device</th>
				<th>Mount</th>
				<th>Filesystem</th>
			</tr>
			{{range .Mounts.Mount}}
			<tr>
				<td>{{.Device}}</td>
				<td>{{.Mount}}</td>
				<td>{{.Fs}}</td>
			</tr>
			{{end}}
		</table>
	</div>

</div>






</body>
</html>





