<!DOCTYPE html>
<html>
<head>
	<title>Raspi Stats</title>
</head>
<body>
<h1>Raspi Stats</h1>
<ul>
	<li>Hostname: {{ .System.Hostname }}</li>
	<li>Current temperature: {{.System.Temp}}</li>
</ul>
<ul>
	{{range $index, $element := .CPU.Processors}}
	{{ if eq $index 0}}
	<li>{{ $element.ModelName }}</li> {{end}}
	{{ end }}

	{{range .CPU.Processors}}
	<li>CPU ID:{{ .Id }}</li>
	Clockspeed: {{.MHz}}
	{{end}}
</ul>
<h5>CPU LOAD</h5>
<ul>
	<li>One min: {{ .CPUload.OneMin }}</li>
	<li>Five min: {{ .CPUload.FiveMin }}</li>
	<li>Fifteen min: {{ .CPUload.FifteenMin }}</li>
</ul>
<h5>MEMORY</h5>
<ul>
	<li>Total Memory: {{ .Memory.Total }}</li>
	<li>Free Memory: {{ .Memory.Free }}</li>
	<li>Available Memory: {{ .Memory.Available }}</li>
	<li>Cached Memory: {{ .Memory.Cached }}</li>
</ul>
<h5>MOUNTS</h5>
<table>
	<tr>
		<th>Device</th>
		<th>Mount</th>
		<th>Filesystem</th>
	</tr>
	{{range .Mounts.Mount}}
	<tr>
		<td>{{.Device}}</td>
		<td>{{.Mount}}</td>
		<td>{{.Fs}}</td>
	</tr>
	{{end}}
</table>
</body>
</html>





