<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<ul>
	<li>Hostname: {{ .System.Hostname }}</li>
	<li>Gopath: {{ .Env }}</li>
</ul>
<ul>

	{{range $index, $element := .CPU.Processors}}
	    {{ if eq $index 0}} <li>{{ $element.ModelName }}</li> {{end}}
	{{ end }}

	{{range .CPU.Processors}}
	<li>CPU ID:{{.Id}}</li>
	<li>Clockspeed: {{.MHz}}</li>
	{{end}}
</ul>
<h5>CPU LOAD</h5>
<ul>
	<li>One min: {{ .CPUload.OneMin }}</li>
	<li>Five min: {{ .CPUload.FiveMin }}</li>
	<li>Fifteen min: {{ .CPUload.FifteenMin }}</li>
</ul>
</body>
</html>





